/* Basic Styles */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  #drop-area {
    border: 2px dashed #ccc;
    padding: 20px;
    margin: 20px auto;
    width: calc(100% - 40px);
    cursor: pointer;
    border-radius: 10px;
    transition: border-color 0.3s ease-in-out;
  }
  
  #drop-area:hover {
    border-color: #666;
  }
  
  #image-preview {
    margin-top: 20px;
    text-align: center;
  }
  
  #image-preview img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  #download-button {
    display: none;
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #download-button:hover {
    background-color: #45a049;
  }
  
  /* Responsive Styles */
  
  @media only screen and (min-width: 600px) {
    .container {
      max-width: 600px;
    }
  }
  
  @media only screen and (min-width: 768px) {
    .container {
      max-width: 768px;
    }
  }
  
  @media only screen and (min-width: 992px) {
    .container {
      max-width: 992px;
    }
  }
  
  @media only screen and (min-width: 1200px) {
    .container {
      max-width: 1200px;
    }
  }
  
  /* Additional Styles */
  
  p {
    
    font-size: 25px;
    padding-bottom: 20px;
  }
  
  #download-button {
    font-size: 16px;
  }
  
  #drop-area p {
    margin: 0;
  }
  
  #drop-area::before {
    content: '\1F4F7';
    font-size: 36px;
    display: block;
    margin: 0 auto 10px auto;
  }
  
  